<mat-accordion>
  <div *ngFor="let productType of productTypes">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{productType.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let product of products">
        <div *ngIf="product.typeCode===productType.code">
          <mat-card class="product-card" [routerLink]="['/products', product.id]">
            <mat-card-title-group>
              <mat-card-title>{{product.name}}</mat-card-title>
              <mat-card-subtitle>{{product.description }}</mat-card-subtitle>
              <img mat-card-sm-image src="{{product.imageUrl}}" alt-img="Loading">
            </mat-card-title-group>
          </mat-card>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
</mat-accordion>
