.example-spacer {
    flex: 1 1 auto;
  }

  .transparent-background{
    background: #00000000;
    padding: 0px;
  }

  .main-logo{
    height: 50px;
    margin: 10px 0 0 0px;
    border-radius: 1px;
  }
