<mat-toolbar class="transparent-background">
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <a [routerLink]="['/']">
    <img src="assets/img/logo-1.jpeg" alt="Priya bakes" class="main-logo">
  </a>
  <span class="example-spacer"></span>
  <button routerLink="/cart" mat-icon-button  class="transparent-background" aria-label="Example icon-button with share icon">
    <mat-icon [matBadge]="cs.items.length" [matBadgeHidden]="cs.items.length===0">shopping_cart</mat-icon>
  </button>
</mat-toolbar>